.sliderWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 625px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 25px;
}

.slider {
    margin-top: 70px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    width: 400px;
    height: 400px;
    
}

.frame {
    margin: 0;
    padding: 0;
    position: relative;
    width: 400px;
    height: 400px;
    top: 0%;
    
    
}


.item {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 1;
    
}

.item img {
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
    border-radius: 25px;
}


.item:nth-child(1) {
    top: 0px;
}

.item:nth-child(2) {
    top: 450px;
}

.item:nth-child(3) {
    top: 900px;
}