.loading {
    justify-content: center;
    height: 20px;
}

.toggle {
    background-color: aqua;
    padding: 25px;
    border-radius: 10px;
}

.sliderWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 500px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.slider {
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    width: 300px;
    height: 300px;
}

.frame {
    margin: 0;
    padding: 0;
    position: relative;
    width: 300px;
    height: 300px;
    top: 0%;
}


.item {
    position: absolute;
    margin: 0;
    padding: 0;
}

.item img {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
}


.item:nth-child(1) {
    top: 0px;
}

.item:nth-child(2) {
    top: 350px;
}

.item:nth-child(3) {
    top: 700px;
}