.navbar {

    /* prohibition to select text */

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    not supported by any browser */


    /* other */

    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.navbar li {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
    height: 40px;
    width: 115px;
}


a {
    text-decoration: none;
}


.activeStateSmallButtons p {
    background-color: white;
    border-radius: 25px;
    color: black;
    font-size: 12pt;
    color: black;
    text-align: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 80px;
    padding: 10px;
    transition: 75ms;
    height: 20px;
}

.activeStateSmallButtons p:hover {
    background-color: #c8e9e1;
    color: #2d4241;
    width: 70px;
    font-size: 12.5pt;
}

.activeStateSmallButtons p:focus {
    background-color: red;
}

.smallButtons p {
    background-color: #6EA5A1;
    color: #E1FFF1;
    font-size: 12pt;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 80px;
    border-radius: 25px;
    transition: 50ms;
    height: 20px;
}

.smallButtons p:hover {
    background-color: #5a8a86;
    width: 85px;
    font-size: 12.5pt;
}