.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}

a {
    color:gray;
    text-decoration: none;
}

.activeState {
    color: blue;
}