.appWrapper {
    display: grid;
    grid-template-areas:
        "header header"
        "navbar profile";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 10fr;
    margin: 0pc;
    padding: 0px;
    grid-gap: 0px;
    border: 0px;
}

.Header {
    grid-area: header;
    background-color: aqua;
}

.Profile {
    grid-area: profile;
    background-color: bisque;
}

.Navbar {
    grid-area: navbar;
    background-color: aquamarine;
}