.appWrapperContainer {
    display: block;
    position: absolute;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
}

.appWrapper {

    display: grid;
    grid-template-areas:
        "navbar navbar navbar"
        "actbar pages infobar";
    grid-template-rows: 80px;
    grid-template-columns: 85px 600px 300px;

    padding: 0px;
    grid-gap: 10px;
    border: 0px;
    align-items: center;
    justify-items: center;
}

.Actionbar {
    grid-area: actbar;
    justify-self: center;
}

.Navbar {
    grid-area: navbar;
    justify-self: center;
    align-self: end;
}

.Pages {
    grid-area: pages;
}

.Infobar {
    grid-area: infobar;
}

.bodybar {
    margin-top: 30px;
    width: 1000px;
    pointer-events: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.bodybar img {
    width: 715px;
}