.appWrapper {
    display: grid;
    grid-template-areas:
        "navbar navbar navbar"
        "actbar pages infobar";
    grid-template-rows: 120px;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0pc;
    padding: 0px;
    grid-gap: 10px;
    border: 0px;
    align-items: center;
    justify-items: center;
}

.Actionbar {
    grid-area: actbar;
    justify-self: center;
}

.Navbar {
    grid-area: navbar;
    justify-self: center;
    align-self: end;
}

.Pages {
    grid-area: pages;
}

.Infobar {
    grid-area: infobar;
}